/* adjusting the view port and body */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.sec4,.sec5,.sec6,.sec7,.sec8{
    height: 110vh;
    width: 99vw;
    border: 2px solid red;
}

/* .sec1{
    position: fixed;
    bottom: 0%;
} */

.header1{
    display: flex;
    padding: 16px;
    height: 68px;
    width: 100%;
}

.navbar1{
    height: 100%;
    display:flex;
    justify-content: flex-start;
    width: 33%;
    
}

.navbar1 button,.navbar3 button{
    background-color: white;
    border: none;
    margin-right: 2%;
}

.navbar2{
    display: flex;
    justify-content: center;
    width: 33%;
}

.navbar3{
    display:flex;
    justify-content: flex-end;
    width: 33%;
    height: 100%;
    padding: 3px 0px;
}

.navbar3 .register,.navbar3 .sign{
    font-size: medium;
    height: 100%;
    width: 18%;
}

.navbar3 .register{
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.navbar3 .sign:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.763);
}

.header2{
    height: 5.7%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.header2 .navbar4,.header3 .navbar5{
    display: flex;
    justify-content: center;
    
}

.header2 .navbar4 .list_h2{
    list-style-type: none;
    padding: 11px 9px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.navbar4 .list_h2 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.838);
}

.navbar4 .leftm{
    border-left: 1px solid rgba(0, 0, 0, 0.13);
}

.navbar4 .list_h2:hover,.navbar5 .list_h3:hover{
    background-color: rgba(236, 231, 231, 0.884);
}

/* .sec2{
    background-color: bisque; 
     padding-top: 7.2%;
} */

.header3{
    height: 5.5%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.13);
    
}

.header3 .navbar5 .list_h3{
    list-style-type: none;
    padding: 10px;
    /* border: 1px solid; */
}

.navbar5 .list_h3 a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: small;
    color: rgba(0, 0, 0, 0.748);
}

.mainnewshead{
    font-family: "Roboto", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(174, 5, 5);
    display: flex;
    justify-content: center;
    width: 100%;
}

.mainnewshead h1{
    width: 84%;
    border-bottom: 3px solid black;
    margin-top: 1.2%;
}

/*  used grid for getting layout */
.container1{
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
    height: 100%;
    /* padding-top: 20px; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'cell1 cell2'
                         'cell1 cell2'
                         'cell3 cell4'
                         'cell3 cell4';
    gap: 0% 2%;
}

.bang{
    grid-area: cell1;
    width: 100%;
    height: 92%;
    display: flex;
    padding-top: 25px;
    /* padding-bottom: 10%; */

}

.bang:hover .banddata .hh1,.northkorea:hover h3,.content_4 .news_1:hover .cone_2 h3,.mount:hover div h3,.content_l5 .l5_new1:hover div h3{
    text-decoration: underline;
}

.bang:hover .bangpic img,.northkorea:hover img,.content_4 .news_1:hover .cone_1{
    opacity: 0.7;
}

.northkorea{
    grid-area: cell2;
    height: 92%;
    padding-top: 25px;

}


.content_4{
    grid-area: cell3;
    /* height: 10%; */
    display: flex;
    justify-content: space-between;
    
}

.mount{
    grid-area: cell4;

}

.banddata{
    width: 34%;
    padding: 8% 1% 10% 1.5%;
    height: 100%;
}

.bangpic{
    width: 66%;
    /* height: 100%; */
    /* padding: 7px 2px; */
}
.banddata .hh1{
    font-size: 1.7em;
    font-weight: 600;
    /* letter-spacing: 1.5px; */
    color: rgb(0, 0, 0);
}

.news_1{
    width: 23.5%;
    
}

.news_1 .cone_1{
    width: 100%;
    height: 32%;
    margin-bottom: 5px;
}

/*  style for getting live symbole */
.news_1 .cone_2 .live,.content_l5 .l5_new1 .live{
    height: 20px;
    width: 20px;
    border: 5px solid rgb(208, 3, 3);
    border-radius: 50%;
    padding: 5px;
}
/* adjusting color and sije for "time | country" */
.cone_4{
    color: rgba(0, 0, 0, 0.711);
    font-size: small;
}

/* applying flex for content_l5 inorder to get its childs side by side */
.content_l5{
    height: 30vh;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}

/* contant_l5 content divided into 5 parts giving height and width to those part */
.l5_new1{
    /* border: 2px solid violet; */
    width: 20%;
    padding: 5% 1%;
}

