.navmain{
    width: 99vw;
}
body{
    width: 99vw;
    height: 97vh;
}
.navbar1{
    height: 32px;
    width: 100%;
    padding: 13px;
    display: flex;
}
.Icons{
    width: 31.33%;
    height: 100%;
}
.Icons img{
    height: 91%;
    width: 25px;
    margin-right: 16px;
}
.Icons button{
    border: none;
    background-color: white;
}
.logo{
    width: 33.33%;
    height: 100%;
    display: flex; 
     justify-content: center;
    align-items: center;
    /* background-color :aqua; */
    
}
.logo img{
    width: 104px;
    height: 94px;
}
.account{
    width: 35.33%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}